{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScriptA</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <header>
        <img src="{% static 'imgs/logo.png' %}">
        <h1>Participe da torcida</h1>
    </header>

    <main>

        <section class="imagens">
            <img src="{% static 'imgs/tigre.png' %}" alt="Tigre">
            <img src="{% static 'imgs/cobra.png' %}" alt="Cobra">
            <img src="{% static 'imgs/dragao.png' %}" alt="Dragão">
            <img src="{% static 'imgs/cavalo.png' %}" alt="Cavalo">
        </section>

        <form method="post">
            {% csrf_token %}
            <section class="formula">

                <div class="mat">
                    <p>Matrícula</p>
                    <label for="matricula"></label>
                    <input type="text" id="matricula" name="matricula" placeholder="Digite sua matrícula">
                </div>

                <div class="senha">
                    <p>Senha</p>
                    <label for="password"></label>
                    <input type="password" id="password" name="senha" placeholder="Digite sua senha">
                 
                </div>

                {% if erro %}
                <p class="erro-login">{{ erro }}</p>
                {% endif %}

                <div class="butao">
                    <button type="submit">Entrar</button>
                </div>
                <p id="cadbutao">Não possui conta?<a href="{% url 'cadastro' %}">Cadastra-se</a></p>

            </section>
        </form>
    </main>

    <footer>
        <p>© 2026 ScriptA. Todos os direitos reservados.</p>
    </footer>

</body>
</html>